third-party/*
out/*
Frameworks/*
*xcuserdata*

src/casper/app/version.h
src/casper/app/monitor/version.h
src/casper/mac/resources/English.lproj/InfoPlist.strings

build
libcef_dll_wrapper
libcef_dll
include
cef.xcodeproj
Frameworks