//
//  casper.xcconfig
//  casper
//
//  Copyright (c) 2011-2019 Cloudware S.A. All rights reserved.
//

CLDWARE_OUT_DIR = $(SRCROOT)/out/darwin
CLDWARE_INTERMEDIATES_DIR = $(CLDWARE_OUT_DIR)/Intermediates
CLDWARE_PRODUCTS_DIR = $(CLDWARE_OUT_DIR)/Products/$(CONFIGURATION)
CLDWARE_TARGET_BUILD_DIR=$(PROJECT_NAME)-$(TARGET_NAME)

//
BUILD_DIR =  $(CLDWARE_OUT_DIR)/Products
BUILD_ROOT = $(CLDWARE_OUT_DIR)/Products

OBJECT_FILE_DIR =$(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build/$(CONFIGURATION)/$(CLDWARE_TARGET_BUILD_DIR).build/Objects

// CODESIGNING_FOLDER_PATH = $(CLDWARE_PRODUCTS_DIR)/$(CLDWARE_TARGET_BUILD_DIR)
DWARF_DSYM_FOLDER_PATH = $(CLDWARE_PRODUCTS_DIR)

DERIVED_FILES_DIR = $(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build/$(CONFIGURATION)/$(CLDWARE_TARGET_BUILD_DIR)/DerivedSources
DERIVED_FILE_DIR = $(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build/$(CONFIGURATION)/$(CLDWARE_TARGET_BUILD_DIR).build/DerivedSources

CLASS_FILE_DIR = $(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build/$(CONFIGURATION)/$(CLDWARE_TARGET_BUILD_DIR).build/$(CLDWARE_TARGET_BUILD_DIR).build/JavaClasses
COMPOSITE_SDK_DIRS = $(CLDWARE_INTERMEDIATES_DIR)/CompositeSDKs

PROJECT_TEMP_DIR = $(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build
PROJECT_TEMP_ROOT = $(CLDWARE_INTERMEDIATES_DIR)
PROJECT_DERIVED_FILE_DIR = $(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build/DerivedSources

PRECOMP_DESTINATION_DIR = $(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build/$(CONFIGURATION)/$(CLDWARE_TARGET_BUILD_DIR).build/PrefixHeaders
REZ_COLLECTOR_DIR = $(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build/$(CONFIGURATION)/$(CLDWARE_TARGET_BUILD_DIR).build/ResourceManagerResources
REZ_OBJECTS_DIR = $(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build/$(CONFIGURATION)/$(CLDWARE_TARGET_BUILD_DIR).build/ResourceManagerResources/Objects

TARGET_BUILD_DIR = $(CLDWARE_PRODUCTS_DIR)
TARGET_TEMP_DIR = $(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build/$(CONFIGURATION)/$(CLDWARE_TARGET_BUILD_DIR).build
TEMP_DIR = $(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build/$(CONFIGURATION)/$(CLDWARE_TARGET_BUILD_DIR).build
TEMP_FILES_DIR = $(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build/$(CONFIGURATION)/$(CLDWARE_TARGET_BUILD_DIR).build
TEMP_FILE_DIR = $(CLDWARE_INTERMEDIATES_DIR)/$(CLDWARE_TARGET_BUILD_DIR).build/$(CONFIGURATION)/$(CLDWARE_TARGET_BUILD_DIR).build
TEMP_ROOT = $(CLDWARE_INTERMEDIATES_DIR)
